.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.welcome-message {
  font-size: 3.5rem;
  color: aqua;
  font-family: 'american typewriter',serif;
  text-align: center;
  margin-bottom: 2rem;
}

.login-button {
  background-color: black;
  box-shadow: 0px 7px 100px 20px rgba(71, 219, 248, 0.8);
  color: aqua;
  font-size: 2.5rem;
  font-family:'andale mono',monospace;
  font-weight: lighter;
  border:aqua;
  border-style: solid;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
}

.login-button:hover {
  background-color:rgb(28, 196, 242);
  color:black
}


.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color:aqua;
  background-color: black;
  padding-bottom: 5%;
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.connected-button {

  background-color: black;
  color: aqua;
  font-size: 2.5rem;
  font-family:'andale mono',monospace;
  font-weight: lighter;
  border:aqua;
  border-style: solid;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 28rem;
}

.connected-button:hover {
  background-color: #0069d9;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
}


.candidates-table {
  margin-top :10px;
  border-collapse:collapse;
  border:1px solid white;
  width: 50%;
  text-align:center;
}

.candidates-table th, .candidates-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color:aqua;
}

.candidates-table th {
  
  background-color: black;
  border: #fff;
  border-width: 1cm;
}

input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left:26rem;
}